fastapi
uvicorn
pydantic
requests
python-multipart
python-dotenv
PyMuPDF
pymupdf4llm
python-pptx
langchain
langchain-core
langchain-google-genai
langchain-text-splitters
langchain-qdrant
qdrant-client
fastembed
langgraph
tiktoken
numpy
